body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

body {
    font: 200 16px/1.5 "Courier New",Courier,monospace;
    color: #d8dee7;
    background-color: #193449;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure {
    margin-bottom: 15px
}

ul,ol {
    margin-left: 30px
}

a {
    color: #33ffdd;
    text-decoration: none
}

a:hover {
    color: #33ff44
}

.wrapper {
    max-width: -webkit-calc(900px - (30px * 2));
    max-width: calc(900px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 900px) {
    .wrapper {
        max-width: -webkit-calc(900px - (30px));
        max-width: calc(900px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.icon>svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon>svg path {
    fill: #676e95
}

.site-header {
    border-top: 1px solid #676e95;
    border-bottom: 1px solid #676e95;
    min-height: 56px;
    position: relative
}

.site-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left
}

.site-title,.site-title:visited {
    color: #ff3333
}

.site-footer {
    border-top: 1px solid #676e95;
    padding: 30px 0
}

.contact-list,.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #676e95;
    margin-left: -15px
}

.footer-col {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px
}

.footer-col-1 {
    width: -webkit-calc(35% - (30px / 2));
    width: calc(35% - (30px / 2))
}

.footer-col-2 {
    width: -webkit-calc(20% - (30px / 2));
    width: calc(20% - (30px / 2))
}

.footer-col-3 {
    width: -webkit-calc(45% - (30px / 2));
    width: calc(45% - (30px / 2))
}

@media screen and (max-width: 900px) {
    .footer-col-1,.footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
    padding: 30px 0
}

.post-content {
    margin-bottom: 30px
}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .page-link {
    color: #d8dee7;
    line-height: 1.5;
}
